<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://osr.hazdev.com.au/multimedia/images/clover3.GIF" alt="Hazlett Website logo" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3 fs-6">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Revenue NSW Menu
            </NavLink>
        </div>
        <hr />

        <div class="nav-item px-3 fs-6">
            <NavLink class="nav-link" href="/edrdocsstamping">
                 EDR Document Stamping
            </NavLink>
        </div>

        <div class="nav-item px-3 fs-6">
            <NavLink class="nav-link" href="/reissue">
                 Reissue
            </NavLink>
        </div>
        <div class="nav-item px-3 fs-6">
            <NavLink class="nav-link" href="/return-period-invoice">
                Return Period Invoice
            </NavLink>
        </div>
        <div class="nav-item px-3 fs-6">
            <NavLink class="nav-link" href="/daily-document">
                 Daily Document
            </NavLink>
        </div>
    </nav>
</div>

